@*时间控件*@
<script>
    function InitialTimeControl() {
        //点击时间范围（今天、近7天、近一个月、近三个月）
        $("#time_horizon a.btn-default").click(function () {
            $("#time_horizon a.btn-default").removeClass("active");
            $(this).addClass("active");
            switch ($(this).attr('data-value')) {
            case "1": //今天
                $("#StartTime").val('@DateTime.Now.ToString("yyyy-MM-dd")');
                $("#EndTime").val('@DateTime.Now.ToString("yyyy-MM-dd")');
                break;
            case "2": //近7天
                $("#StartTime").val('@DateTime.Now.AddDays(-7).ToString("yyyy-MM-dd")');
                $("#EndTime").val('@DateTime.Now.ToString("yyyy-MM-dd")');
                break;
            case "3": //近一个月
                $("#StartTime").val('@DateTime.Now.AddMonths(-1).ToString("yyyy-MM-dd")');
                $("#EndTime").val('@DateTime.Now.ToString("yyyy-MM-dd")');
                break;
            case "4": //近三个月
                $("#StartTime").val('@DateTime.Now.AddMonths(-3).ToString("yyyy-MM-dd")');
                $("#EndTime").val('@DateTime.Now.ToString("yyyy-MM-dd")');
                break;
            default:
                break;
            }
            $("#SelectedStartTime").html($("#StartTime").val());
            $("#SelectedEndTime").html($("#EndTime").val());
            SearchEvent();
        });

        //查询点击事件
        $("#btn_Search").click(function () {
            SearchEvent();
            $(".ui-filter-text").trigger("click");
            $("#SelectedStartTime").html($("#StartTime").val());
            $("#SelectedEndTime").html($("#EndTime").val());
        });

        //重置点击事件
        $("#btn_Reset").click(function () {
            $("#StartTime").val($("#SelectedStartTime").html());
            $("#EndTime").val($("#SelectedEndTime").html());
        });
    }
</script>
<table>
    <tr>
        <td>查询条件</td>
        <td style="padding-left: 10px;">
            <div class="ui-filter" style="width: 200px;">
                <div class="ui-filter-text">
                    <strong id="SelectedStartTime">@DateTime.Now.AddDays(-7).ToString("yyyy-MM-dd")</strong> 至 <strong id="SelectedEndTime">@DateTime.Now.ToString("yyyy-MM-dd")</strong>
                </div>
                <div class="ui-filter-list" style="width: 350px;">
                    <table class="form" id="filter-form">
                        <tr>
                            <th class="formTitle">操作时间：</th>
                            <td class="formValue">
                                <input id="Category" type="hidden" value="1" />
                                <div style="float: left; width: 45%;">
                                    <input id="StartTime" readonly type="text" value="@DOVE.Util.Time.GetDate(-7)" class="form-control input-wdatepicker" onfocus="WdatePicker({maxDate:'%y-%M-%d'})">
                                </div>
                                <div style="float: left; width: 10%; text-align: center;">至</div>
                                <div style="float: left; width: 45%;">
                                    <input id="EndTime" readonly type="text" value="@DOVE.Util.Time.GetToday()" class="form-control input-wdatepicker" onfocus="WdatePicker({maxDate:'%y-%M-%d'})">
                                </div>
                            </td>
                        </tr>
                    </table>
                    <div class="ui-filter-list-bottom">
                        <a id="btn_Reset" class="btn btn-default">&nbsp;重&nbsp;&nbsp;置</a>
                        <a id="btn_Search" class="btn btn-primary">&nbsp;查&nbsp;&nbsp;询</a>
                    </div>
                </div>
            </div>
        </td>
        <td style="padding-left: 10px;">
            <div id="time_horizon" class="btn-group">
                <a class="btn btn-default" data-value="1">今天</a>
                <a class="btn btn-default active" data-value="2">近7天</a>
                <a class="btn btn-default" data-value="3">近1个月</a>
                <a class="btn btn-default" data-value="4">近3个月</a>
            </div>
        </td>
    </tr>
</table>